@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.eot');
  src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg'),
       url('../fonts/FuturaPT-Book.ttf') format('truetype'),
       url('../fonts/FuturaPT-Book.woff') format('woff'),
       url('../fonts/FuturaPT-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url('../fonts/FuturaPT-Bold.eot');
  src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg'),
       url('../fonts/FuturaPT-Bold.ttf') format('truetype'),
       url('../fonts/FuturaPT-Bold.woff') format('woff'),
       url('../fonts/FuturaPT-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../fonts/Poppins-Light.eot');
  src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Light.svg#Poppins-Light') format('svg'),
       url('../fonts/Poppins-Light.ttf') format('truetype'),
       url('../fonts/Poppins-Light.woff') format('woff'),
       url('../fonts/Poppins-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'),
       url('../fonts/Poppins-Regular.ttf') format('truetype'),
       url('../fonts/Poppins-Regular.woff') format('woff'),
       url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}